[blossom-carousel] {
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: clip;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  list-style-type: none;
  inline-size: 100%;
  max-inline-size: 100vw;
  box-sizing: border-box;

	/* &:is(ul) {
    padding-inline-start: 0;
  } */

  /* hide scrollbar */
  /* scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  } */

  &[has-repeat="true"] {
    scroll-padding-inline: 50% !important;
    padding-inline: 50% !important;
  }

  & > * {
    display: inline-block;
    white-space: initial;
    vertical-align: top;
  }

  /* prevent drag interaction on children */
  & * {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    user-select: none;
  }

	&.blossom-dragging {
		& > * {
			pointer-events: none;
		}
	}
}
